Project Proposal/Open Capstone Project Proposal.docx
Open.docx
Data Collection/census_api_key.txt
Data Collection/data/*
Data Collection/configs.ini
Prototype Scaling PySpark/local development files/data/*
!Data Collection/data/,gitkeep
Pipeline Prototype/data/*
!Pipeline Prototype/data/,gitkeep
Data Exploration/Open Capstone - Progress Slides.pptx
Pipeline Prototype/test.py
Code Testing/math_func.py
Code Testing/test_math_func.py
Prototype Scaling PySpark/local development files/configs.ini
Code Testing/__pycache__/*
Code Testing/.pytest_cache/*
Code Testing/data/*
Code Testing/spark_test_env/*
Code Testing/simple_spark_test.py
Code Testing/simple_spark.py
