Project Proposal/Open Capstone Project Proposal.docx
Open.docx
Data Collection/census_api_key.txt
Data Collection/data/*
!Data Collection/data/,gitkeep
Data Exploration/Open Capstone - Progress Slides.pptx
